@charset "utf-8";

.base-schema-box {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .key-input-item {
    flex: 1 1 200px;
  }

  .type-select-item {
    flex: 0 1 100px;
  }

  .title-input-item {
    flex: 0 1 120px;
  }

  .operate-item {
    flex: 0 1 100px;

    .operate-btn {
      width: 15px;
      margin: 0 8px 0 10px;
      color: #2395f1;
      cursor: pointer;
    }
  }
}
