@charset "utf-8";

.advance-config-model {
  position: relative;
  padding: 8px 10px;
  text-align: center;

  // 移动端的展示样式
  .small-screen-element-warp,
  .mobile-screen-element-warp {
    position: relative;
    margin-bottom: 12px;
    line-height: 38px;
    box-sizing: border-box;
    min-width: 280px;

    .element-title {
      display: block;
      word-break: keep-all;
      margin-right: 12px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content-item {
      position: relative;

      > .small-screen-element-warp,
      > .mobile-screen-element-warp {
        min-width: 230px;
      }

      .color-item-form {
        width: 60px;
      }
    }
  }

  // 默认为宽屏的展示样式
  .wide-screen-element-warp {
    position: relative;
    line-height: 38px;
    box-sizing: border-box;
    min-width: 350px;
    margin-bottom: 12px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;

    .element-title {
      flex: 0 1 100px;
      word-break: keep-all;
      max-width: 100px;
      margin-right: 12px;
      padding-left: 12px;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content-item {
      flex: 1 1 200px;

      .color-item-form {
        width: 60px;
      }
    }
  }

  // CodeArea类型组件样式
  .code-area-item {
    min-width: 230px;
    max-width: 600px;
  }

  // CodeArea类型组件格式错误提示相关的样式
  .warning-box {
    width: 100%;
    padding: 8px 0;
    color: red;
    font-size: 12px;
    background-color: rgb(254, 236, 235);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .warning-img {
      flex: 0 1 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .warning-text {
      flex: 1 1 160px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  // 表单元素盒子样式，主要为了让表单元素垂直居中
  .form-item-box {
    min-height: 38px;
    display: flex;
    justify-content: stretch;
    align-items: center;
  }
}
