@charset "utf-8";

.json-schema-react-editor {
  font-size: 14px;
}

.json-schema-react-editor .array-item-type {
  text-align: left;
}

.json-schema-react-editor .add-btn {
  margin: 8px;
}

.json-schema-react-editor .pretty-editor {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  height: 800px;
}

.json-schema-react-editor .import-json-button {
  margin: 5px;
}

.json-schema-react-editor
  .certain-category-search
  .ant-select-selection--single {
  height: 32px;
}

.json-schema-react-editor
  .certain-category-search
  .ant-select-search__field__wrap {
  display: unset;
}
